<div class="row">
    <button type="button" (click)="addProject()">Ajouter une liste</button>
    <div class="formulaire" *ngIf="active">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" name="title" [(ngModel)]="currentProject.title">
        </div>
        <button type="button" (click)="submitProject()">Valider</button>
        <button type="button" (click)="cancelProject()">Annuler</button>
    </div>
    <hr>
</div>

<!-- display all existing projects -->
<div class="row">
    <div class="bloc-liste col-md-4" *ngFor="let project of _listProjects">
         <div class="contenu-liste">
            <div class="header-liste">
                <button type="button" (click)="delProject(project)">X</button>
                <h2 (click)="modifyProject(project)">{{project.title}}</h2> 
            </div>
        </div>
    </div>
</div>